<?xml version="1.0" encoding="UTF-8" ?>
<!-- version of the routes.yml in xml mode -->
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="paco_number_generator_api" controller="custom_paco_bundle.number_generator_api_controller:index" path="/" >
        <!-- settings -->
    </route>
</routes>